



<%= form_for(@article) do |f| %>
    <div class="form-field">
        <%= f.label :thumbnail%>
        <%= f.file_field :thumbnail, accept: 'image/jpeg,image/gif,image/png'  %>
    </div>
    <div class="form-field">
        <%= f.label :category %>
        <%= f.collection_select :category_id, Category.all.order(:id), :id, :name  %>
    </div>
    <div class="form-field">
        <%= f.label :title %>
        <%= f.text_field :title, placeholder: "ここにタイトルを入力" %>
    </div>
    <div class="form-field">
        <%= f.label :photo%>
        <%= fa_icon "cloud-upload 2x", data: {toggle: "modal", target: "#imageUpload"} %>
    </div>
    <%= f.label :content %>
    <textarea name="article[content]" data-uk-htmleditor="{markdown:true}"><%= @article.content if @article.content %></textarea>
    <%= f.submit "記事を投稿", class: "btn article-btn" %>       
<% end %>


<!-- imageUploadModal -->
<div class="modal fade" id="imageUpload" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="upload-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
      <% if @photo ||= Photo.new %>
        <%= form_for (@photo), :url=>{:controller=>"photos", :action=>"create"}, html: {class:'dropzone', id:'my-dropzone'} do |f| %>
          <div class="dz-message needsclick">
            <h3>ファイルをここにドロップしてください</h3>
            <strong>アップロードするにはここをクリックしてください</strong>
          </div>
          <div class="fallback">
            <%= f.file_field :image %>
            <%= f.submit 'Upload Image' %>
          </div>
        <% end %>
    <% end %>
      </div>
    </div>
  </div>
</div>
<!-- imageUploadModal -->

