<div class="container">
    <div class="row">
        <div class="article-list">
            <h2><%= @category.name %></h2>
            <% @articles.each do |article| %>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <section class="item item-<%= article.category.name %> shrink">
                        <%= link_to article do %>
                            <div class="article-thumbnail"><%= image_tag article.thumbnail.to_s if article.thumbnail? %></div>
                            <span class="category category-<%= article.category.name %>"><%= article.category.name %></span>
                            <span class="date"><%= article.created_at.strftime("%Y/%m/%d") %></span>
                            <div class="title"><%= article.title %></div>
                            <div class="content"><%= truncate(strip_tags(markdown(article.content)), length: 40) %></div>
                        <% end %>
                    </section>
                </div>
            <% end %>
            <%= will_paginate @articles %>
        </div>
    </div>
</div>